include hermes_xmpp_plugin_common.py
include install_xmpp_plugin.py
include uninstall_xmpp_plugin.py
include README.md
include LICENSE
include pyproject.toml
include pytest.ini
include requirements.txt
include MANIFEST.in
include .gitignore
recursive-include .github *
recursive-include tests *.py
recursive-include xmpp_plugin_source *.py *.yaml *.md *.yml
